#quizme-home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#quizme-home-quizme {
    font-size: 7em;
}

.quizme-home-button {
    font-size: 5vw;
    width: 40vw;
    margin-top: 2vw;
}

@media screen and (min-aspect-ratio: 1/1) {
    #quizme-home-quizme {
        font-size: 15vh;
    }
    
    .quizme-home-button {
        font-size: 2vw;
        width: 20vw;
        margin-top: 2vh;
    }

    #quip {
        width: 40vw
    }
}