#quizme-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#quizme-login-quizme {
    font-size: 14vq;
}

#quizme-login-button {
    font-size: 2vw;
    width: 20vw;
    margin-top: 2vw;
}

#quizme-login-container .nes-input {
    font-size: 2vw;
    width: 40vw;
    margin-top: 2vw;
}

@media screen and (min-aspect-ratio: 1/1) {
    #quizme-login-quizme {
        font-size: 14vh;
    }
    
    .quizme-login-button {
        font-size: 2vh;
        width: 20vh;
        margin-top: 2vh;
    }
    #quizme-login-container .nes-input {
        font-size: 2vh;
        width: 40vh;
        margin-top: 2vh;
    }
}