#Quiz {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    word-wrap: break-word;
    width: 150%;
}
#question {
    width: 100%;
}
#answers {
    margin: 20px 0;
    width: 100%;
}
#answers * {
    width: 50%;
    margin: 10px auto;
}
#quiz progress {
    margin-bottom: 20px;
}